<!DOCTYPE html>
<html>
	<head>
		<title>ConFusion 2020 Schedule</title>
		<link rel="stylesheet" 
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
			crossorigin="anonymous">
		<!--<link rel="stylesheet" 
			id="responsiveblogily-google-fonts-css" 
			href="//fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700%2C900%7CMerriweather%3A400%2C700&amp;ver=5.2.4" 
			type="text/css" 
			media="all">-->
		<style type="text/css">
			/* ConFusion 2020 Styles */
			.header, .navigation {
				background: #000000;
				border-bottom: 1px solid #8224e3;
			}
			.navigation a {
				color: #ffffff;
				font-weight: bold;
			}
			/*h3, .panel-button {
				font-family: Merriweather;
			}*/

			/* filter styles and logic */

			.panel-container, .panel, .details {
				display: none;
			}
			/* expand/collapse days */
			{% for day in displaydays %}body.{{day|lower}} .day-container.{{day|lower}} .panel-container,
			{% endfor %}

			/* filter by track  */
			{% for track in tracks %}body.{{track.slug}} .panel.{{track.slug}},
			{% endfor %}

			/* expand/collapse detail view */
			body.expanded .details{	
				display: block;
			}

			{% for track in tracks %}body.{{track.slug}} button.btn.{{track.slug}}{% if forloop.last %}{ {% else %},
    		{% endif %}{% endfor %}
				background: #6c757d;
				color: #ffffff;
			}

			/* /filter styles and logic */
		</style>
		<script>

			/*list of all days  */
			var allDays = [
				{% for day in displaydays %}'{{day|lower}}'{% if forloop.last %}{% else %},
    		{% endif %}{% endfor %}
			];

			/* list of all tracks */
			var allTracks = [
				{% for track in tracks %}'{{track.slug}}'{% if forloop.last %}{% else %},
    			{% endif %}{% endfor %}
			];

			/* start with all days open */
			var activeDays = allDays.slice();

			/* start with all panels visible */
			var activeTracks = allTracks.slice();

			/* start with panel details visible */
			var isExpanded = true;

			/* open and close day panels */
			function toggleDay(eTarget) {
				pName = eTarget.getAttribute('name');

				if (pName === 'all') { // selecting all panel days. Currently not used
					if(activeDays.length > 0) {
						activeDays = [];
					} else {
						activeDays = allDays.slice();
					}
				} else if(activeDays.indexOf(pName) < 0) { // this is not currently selected
					activeDays.push(pName);
				} else {	//	this is currently selected and we need to deselect it
					activeDays.splice(activeDays.indexOf(pName), 1);
				}
				setFilters();
			}

			/*  show and hide panels from specific tracks*/
			function filterByTrack(eTarget) {
				pName = eTarget.getAttribute('name');

				if (pName === 'all') { // selecting all panel types
					if(activeTracks.length > 0) {
						console.log('closing all tracks');
						activeTracks = [];
					} else {
						console.log('opening all tracks');
						activeTracks = allTracks.slice();
					}
				} else if(activeTracks.indexOf(pName) < 0) { // this is not currently selected
					activeTracks.push(pName);
				} else {	//	this is currently selected and we need to deselect it
					activeTracks.splice(activeTracks.indexOf(pName), 1);
				}
				setFilters();
			}

			/* toggle detail view for panels */
			function toggleDetails() {
				isExpanded = !isExpanded;
				setFilters();
			}

			/* write the filter set to the <body/> element */
			function setFilters() {
				var filterString 
					= activeTracks.join(' ') 
					+ ' ' 
					+ activeDays.join(' ')
					+ ' '
					+ (isExpanded ? 'expanded' : '');
				document.getElementsByTagName('body')[0].className = filterString;
			}
		</script>
	</head>
	<body class="{% for day in displaydays %}{{day|lower}} {% endfor %}{% for track in tracks %}{{track.slug}} {% endfor %}expanded">
		<div id="panelBase" class="container">
			<div class="row header py-3">
				<div class="col-12 py-3 text-center">
					<a href="https://2020.confusionsf.org/"><img src="https://2020.confusionsf.org/wp-content/uploads/2019/07/cropped-ConFusion-2020-Web-update.jpg"/></a>
				</div>
			</div>
			<div class="row navigation py-4 mb-3">
				<div class="col-12">
					<a href="https://2020.confusionsf.org/">&#x2190; BACK TO CONFUSION 2020</a>
				</div>
			</div>
			<div class="row filters">
				<div class="col-12 mb-2 px-0">
					<button name="all" class="btn btn-primary mb-1 all" onclick="filterByTrack(this)">TOGGLE ALL TRACKS</button>
					<br>{% for track in tracks %}<button name="{{track.slug}}" class="btn btn-outline-secondary mb-1 {{track.slug}}" onclick="filterByTrack(this)">{{track.name}}</button>
					{% endfor %}
					<br><button class="btn btn-primary mb-1" onclick="toggleDetails()">Toggle Detail View</button>
				</div>
			</div>
			{% for day, panels in panels.items %}
			<div class="row day-container {{day|lower}} mb-3">
				<div class="col-12 px-0">
					<button 
						name="{{day|lower}}" 
						class="btn panel-button btn-outline-secondary btn-lg btn-block mb-2 font-weight-bold text-dark" 
						onclick="toggleDay(this)">{{day}} Panels</button>
				</div>
				<div class="col-12 panel-container">
					{% for panel in panels %}
					<div class="row panel {{panel.tracks.all.0.slug}}" style="background:{% cycle '#f0f0f0' '#ffffff' %}">
						<div class="col-12 border rounded py-2 my-1">
							<div class="row mb-1">
								<div class="col-12"><h3 class="border-bottom">{{panel.title}}</h3></div>
								<div class="col-3"><b>Day:</b> <br class="d-md-none"/>{{day}}</div>
								<div class="col-3"><b>Time:</b> <br class="d-md-none"/>{{panel.start_time|date:'h:i a'}}</div>
								<div class="col-3"><b>Room:</b> <br class="d-md-none"/>{{panel.room.name}}</div>
								<div class="col-3"><b>Track:</b> <br class="d-md-none"/>{{panel.tracks.all.0.name}}</div>
							</div>
							<div class="row mb-1 details">
								<div class="col-12 my-1 description">{{panel.description}}</div>
								<div class="col-12 panelists"><b>Panelists:</b> {% if panel.moderator %}{{panel.moderator.program_name}} <b>(M)</b>,{% endif %}{% for panelist in panel.final_panelists.all %} {{panelist.program_name}}{% if forloop.last %}{% else %},{% endif %}{% endfor %}</div>	
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>
	</body>
</html>