{% extends 'base.html' %}
{% load bootstrap4 %}

{% block head %}
<!-- I'm rendered in alienplanit/submissions/templates/submissions/panel.html 
    If you need to add more items to <head> for this page only, here is where you do it!-->
{% endblock head %}

{% block main %}
<!-- I'm rendered in alienplanit/submissions/templates/submissions/panel.html 
    This is where to make changes to the main block for this page only.-->
<div style="margin:2em">
<h2>Panelist Signup For {{conference.name}} Is Now Closed</h2>
<p>If you missed the sign-up window and wish to be added to the waiting list, please email lit at confusionsf dot org.</p>
</div>
{% endblock main %}