{% extends 'base.html' %}
{% load bootstrap4 %}

{% block head %}
<!-- I'm rendered in alienplanit/submissions/templates/submissions/panelist.html 
	If you need to add more items to <head> for this page only, here is where you do it!-->
{% endblock head %}

{% block main %}
<div style="margin:2em">
<h2>{{ title }}</h2>
<p>{{ body|safe }}</p>
{% if panelform %}
<form action="{% url 'panelist' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form panelistform %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
    {% endbuttons %}
</form>
{% endif %}
</div>
{% endblock main %}